@charset "UTF-8";

/* Paleta de Cores
Green: #49a09d
Lilac: #5f2c82
*/

:root {
  --cor0: #5f2c82;
  --cor1: #49a09d;
  --cor3: #94cfcd;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
  /* Faz com que os elementos tenham o mesmo tamanho da caixa */
  box-sizing: border-box; 
}

body {
  background-color: var(--cor0);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

section#login {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 515px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

section#login > div#img {
  background: var(--cor1)  url(../img/metal.jpg) no-repeat center bottom;
  background-size: cover;
  height: 200px;
  width: 250px;
}

div#formulario > h1 {
  text-align: center;
  padding: 10px;
}

div#formulario > p {
  text-align: left;
  font-size: 0.8em;
  line-height: 1.3em;
  padding: 3px 4px 3px 10px;
}

div.campo {
  display: flex;
  background-color: var(--cor0);
  border-radius: 8px;
  margin: 5px auto;
  width: 95%;
  height: 40px;
  align-items: center;
}

div.campo > i.material-icons {
  font-size: 2em;
  width: 40px;
  padding: 5px;
  color: white;
}

div.campo > input {
  background-color: var(--cor3);
  height: 90%;
  width: 82%;
  border-radius: 8px;
  border: none;
}

div.campo > input:focus-within {
  background-color: white;
  color: var(--cor0);
}

div.campo > input::placeholder {
  padding: 5px;
}

div#formulario .botao {
  display: block;
  text-align: center;
  font-size: 1em;
  margin: 5px auto;
  border-radius: 5px;
  width: 95%;
  height: 40px;
}

div#formulario input[type="submit"] {
  background-color: var(--cor1); /* Temporário */
  color: white;
  border: none;
  cursor: pointer;
}

div#formulario input[type="submit"]:hover {
  background-color: var(--cor0); /* Temporário */
}

div#formulario a.botao {
  text-align: center;
  padding-top: 5px;
  margin-top: 5px;
  border: 1px solid var(--cor1);
  background-color: white; /* Temporário */
  color: #3e817f;
  text-decoration: none;
}

div#formulario a.botao:hover {
  background-color: var(--cor0); /* Temporário */
}

div#formulario a.botao > i.material-icons {
  font-size: 0.8em;
  margin-top: 9px;
}
